<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/reset.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <script type="module" src="/main.js"></script>

    <title>Document</title>
</head>

<body>

    <card-component subtitle="John Doe" body="Especializado en retratos y paisajes." foto="../src/img/fotoCo.png">
    </card-component>

    <card-component background="true" title="Paradise burguer" body="Las mejores hamburguesas de Ciudad Real"></card-component>
    <form action="" id="f1">

        <button-component data-style="primary" data-action="redirect" data-object="https://google.es">Botón</button-component>
    </form>
</body>

</html>