*{
    box-sizing: border-box;
}

.cabecera {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.oferta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.oferta__title {
    width: 100%;
}

.oferta__subtitle {
    width: 100%;
}

.platos {
    /* flex-direction: row; */
    /* align-items: center; */
    width: 33%;

}